body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.container{
    background-color: grey;
    height: 100vh;
    width: 100vw;
}
.pages{
    background-color: aqua;
    height: 80%;
    width: 80%;
    overflow: hidden;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
}