body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.container{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.pages{
    height: 75%;
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
}
.pageImg{
    height: 110%;
    width: auto;
    position: absolute;
    margin: auto;
    left: 0;right: 0;top: 0;bottom: 0;  
}
.border{
    border-radius: 10px;
}